.navbar { 
    background-color: #333; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
} 
  
.navMenu { 
    list-style: none; 
    display: flex; 
} 
  
.link { 
    color: #fff; 
    text-decoration: none; 
    padding: 10px; 
    font-size: 1.4rem; 
} 
  
/* Changing the color */
.link:hover { 
    color: red; 
}